.menu li>*:not(ul, .menu-title, details, .btn):active,
.menu li>*:not(ul, .menu-title, details, .btn).active,
.menu li>details>summary:active {
    background-color: transparent;
    color: black;
    border-radius: 0px;
}

.menu li a {
    position: relative;
}

.menu li a:hover {
    background-color: transparent;
}

.menu li a::after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.menu li a:hover::after {
    width: 100%;
}

.menu li a.active::after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: black;
}